/* Reset some basic elements */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set basic styling for all pages */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Add global styles for a tag */
a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Add global styles for button tag */
button {
  cursor: pointer;
}